@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";

.cont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-loading;

  & .loading {
    height: 4px;
    width: 100%;
  }
}
