@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";

.cont {
  position: fixed;
  bottom: 0px;
  right: 8px;
  width: 100%;
  max-width: 30vw;
  z-index: $z-index-notifications;

  @include downMd {
    max-width: calc(100vw - 16px);
  }

  & .alert {
    width: 100%;
    margin-bottom: 4px;
    border-radius: 0.375rem;
    overflow: hidden;

    & .alertHeader {
      justify-content: space-between;

      & .alertMessage {
        flex: 9;
      }

      & button {
        flex: 1;
        margin-left: 0;
      }
    }
  }
}

.requestNotification {
  position: fixed;
  z-index: $z-index-notifications;
  top: -1000px !important;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all linear 1s !important;

  &.active {
    top: 0px !important;
  }

  & .requestButton {
    border: none;
    padding: 4px 0;
    border-radius: 2px;
    transition: all ease-in-out 0.1s !important;

    &:first-child {
      margin-right: 8px;
    }

    &:hover {
      background-color: rgba($color: $gray, $alpha: 0.2);
    }

    &:active {
      background-color: rgba($color: $gray, $alpha: 0.4);
    }
  }
}
